
.notification-popup{
    position: absolute;
    background-color: rgba(68, 65, 65, 0.226);
    max-height:70px;
    max-width: 200px;
    z-index: 9999;
    overflow: hidden;
    border-radius: 10px;
    right:-200px;
    top:500px;
    transition: all 1.1s;
    position:fixed;
    box-shadow: 0 0 5px 3px rgba(117, 117, 117, 0.247) ;
    cursor: pointer;
}
.popup-transition{
    right:0px;
}


.notification-popup a{
    text-decoration: none;
 
    background-color: rgba(255, 255, 255, 0);
}
.notification-popup p{
   
    background-color: rgba(255, 255, 255, 0);
    margin: 15px 10px;
}


.widget-heading{
    margin: 20px auto;
    text-align: center;
    padding: 15px 0;
    color: white;
}
.widget-container{
    width: 850px;
    text-align: center;
    margin: 100px auto;
    box-shadow: 0 0 10px 7px rgba(117, 117, 117, 0.247);
    transition: all 1.5s;
    

}
.score-widget-wrapper{
    box-shadow: 0 0 10px 7px rgba(117, 117, 117, 0.247);
    position: relative;
    overflow: hidden;
    height:1000px;
   
    transition: all 1.5s;
}

.load-more{
    height:3000px;
    
    
}

.extending-button-down{
    position: relative;
    bottom:10px;
    height:35px;
    width:35px;
    margin: 0 auto;
    transition-duration: all 1s;
    border-radius: 100%;
    
}

.extending-button-up{
    position: relative;
    bottom:10px;
    height:35px;
    width:35px;
    margin: 0 auto;
    transform: rotate(180deg);
    transition-duration: all 1s;
    border-radius: 100%;
    
}


.score-widget{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
 }

 

 .newsletter-container{
       width:850px;
       margin:50px auto;
       padding:20px 30px;
     
       box-shadow: 0 0 10px 7px rgba(117, 117, 117, 0.247);
 }

 .newsletter-container p{
     padding:15px 10px;
     font-size:30px;
     font-weight: 600;
     

 }
 .newsletter-container input{
     height:50px;
     width:500px;
     padding:7px 15px;
     background-color: white;
     border-radius: 8px;
     margin:15px 10px;
     border: none;
     color: black;
     font-size: 15px;
     opacity: 0.8;
 }
 .newsletter-container input::placeholder{
     
     font-weight: 500;
     color: black;
 }
 .submit-button{
    height:52px;
    width:150px;
    font-size:20px;
    border: 0.1px solid grey;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing:0.5px;
 }
 .submit-button:hover{
    transform:scale(1.1);
    cursor: pointer;
    background-color:rgba(71, 67, 67, 0.185);
 }

 .back-to-top{
     margin-top:20px;
    margin-bottom:0;
    text-align:center;
    cursor: pointer;
 }
 .back-to-top svg{
    height: 40px;
    width:40px;
    border-radius:100%;
    margin:2px auto;
 }

 .caraousel-outer-container{
    min-height: 95vh;
     width:100%;
     display:flow-root;
 }

 @media(max-width:1010px){
    .widget-container{
        width: 500px;
       
    
    }
    
.notification-popup{
    display: none;
}
 }
 @media(max-width:850px){
     
    

    .newsletter-container{
        max-width:400px;
        margin:50px auto;
        padding:20px 30px;
        box-shadow: 0 0 10px 7px rgba(117, 117, 117, 0.247);
  }
 
  .newsletter-container p{
      max-width :100%;
      font-size:15px;
    }

  .newsletter-container input{
      height:30px;
      width:200px;
      font-size: 10px;
      
  }
  
  .submit-button{
     height:30px;
     width:50px;
     
  }
  
 


}
@media(max-width:404px){

    .newsletter-container{
        max-width:250px;
        margin:50px auto;
        padding:10px 15px;
        box-shadow: 0 0 10px 7px rgba(117, 117, 117, 0.247);
  }
 
  .newsletter-container p{
      
      font-size:15px;
    }

  .newsletter-container input{
      height:20px;
      width:150px;
      margin:10px 5px;
      
      
  }
  
  .submit-button{
     height:22px;
     width:40px;
     font-size: 8px;
     padding:2px 5px;
     
  }
  
.widget-heading{
   font-size:18px;
}
  
 


}

 @media(max-width:546px){
    .widget-container{
        width: 100%;
        margin: 30px 0;
       
    
    }
 }
 @media(max-width:366px){
  
    .widget-container h1{
        font-size:1.1rem;
    }
 }
